<div class="container_services">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h1 id="main-list-title">Services</h1>
    </div>
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-md-6 col-md-offset-1">
          <div class="list-description">
            <h2><%= link_to service.category, services_path(service) %> </h2>
          </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <%= link_to "Add a Service", new_service_path(@service), class: "btn"%>
    </div>
  </div>
</div>
