
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h3><%= @service.category %></h3>
        </p> ID: <%= @service.id %> </p>
        </p> Category: <%= @service.category %> </p>
        <p> <%= link_to "Delete service", service_path(@service),
            method: :delete,
            data: { confirm: "Are you sure?" },
           class: "btn"%></p>
    </div>
  </div>
</div>
