<div class="main-container">
  <div class="content">
    <h3>Booking List</h3>
    <div class="cards-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: url()">
          <% @bookings.each do |booking| %>
          <h4><% link_to booking.id, booking_path(booking) %></h4>
          <p>Start date: <%= booking.start_date %></p>
          <p>End date: <%= booking.end_date %></p>
          <p>Paid?: <%= booking.paid? %></p>
          <p>Status: <%= booking.status %></p>
          <hr>
        <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
