.main-container {
  display: flex;
}
#map {
  flex: 0 0 50%;
  width: 100%;
  height: 580px;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 80px !important;
  border-radius: 5px;
}
